<html>
    <head>
        <title>Mesmerise-Build Your Online Presence from the Ground Up</title>
      
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
<meta name="description" content="I am Srihari Unnikrishnan">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'Mesmerise/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300|Pacifico" rel="stylesheet"> 
</head>
<body>
        
    {% block content %}{% endblock content %}
    
</body>

</html>

