{% extends "Mesmerise/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
        <div class ="contatiner">
    <div class = "jumbotron clearfix">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
          $( "#id_DateOfBirth" ).datepicker({
            changeMonth: true,
            changeYear: true
          });
        } );
        </script>
        <div class = "cmpnt"><h1 style="font-family: 'Pacifico';"class="logo" > Mesmere</h1><h5> A safe social network <br>for <b>Everyone.</b><br>Build your Online presence <br>from the ground up.<br></h5></div>
        
        <div  class="cmpnt" >
            <h3>Sign Up</h3>
            <form id = "signup" action="{% url 'signupAction' %}" method="POST" enctype=multipart/form-data >
                {% csrf_token %}
                    {{form|crispy}}
                    <br>
                    <input type="submit" class="btn btn-info" value="Submit">

            </form>
        
            <p>Already have an account?<a href="login">Login</a> </p>
        </div> 
        </div>
        <div class="row">
            <div class="col-sm-4">
              <h3>Shows</h3>
              <p>HOLY SHIT YOU GONNA BE INTRESTED</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
              <h3>INTREST!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
              <h3>Column 3</h3>        
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
          </div>
        </div>
    {% endblock %}